<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- El permiso de INTERNET es necesario para depuración -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Configuración para esquemas de URL -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>
